/* TODO:
* - Add support for media queries ???
* perhaps highlight words in word cloud to suggest they are clickable
*/

body {
  background: rgb(168,90,94);
background: linear-gradient(90deg, rgba(168,90,94,1) 0%, rgba(218,173,85,1) 48%, rgba(70,200,169,1) 88%, rgba(139,169,175,1) 100%);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  margin-top: 10%;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

h3 {
  margin-top: 4%;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

p {
  display: block;
  margin: auto;
  padding-top: 4rem;
  padding-bottom: 4rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  max-width: 60%;
}

.btn {
  background-color: rgba(39, 39, 39, 0.1);
  border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: crosshair;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  list-style: none;
  display: block;
  margin: auto;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn:hover {
  background-color: rgba(39, 39, 39, 0.2);
}

.btn-medium {
  font-size: 1.2rem;
  padding: 10px 14px;
  margin: 2% 5%;
  display: inline;
}

.div-medium {
  text-align: center;
}

.input {
  display: block;
  margin: auto;
  margin-bottom: 2%;
  margin-top: 2%;
  text-align: center;
  box-shadow: inset #abacaf 0 0 0 2px;
  border: 0;
  background: rgba(180, 180, 180, 0.3);
  appearance: none;
  width: 20%;
  position: relative;
  border-radius: 3px;
  padding: 9px 12px;
  line-height: 1.4;
  color: rgb(203, 203, 203);
  font-size: 16px;
  font-weight: 400;
  height: 40px;
  transition: all .2s ease;
}

.input:hover {
  box-shadow: 0 0 0 0 #fff inset, #a24e78 0 0 0 2px;
}

.input:focus {
  background: rgb(144, 144, 144, 0.3);
      outline: 0;
      box-shadow: 0 0 0 0 #fff inset, #a24e78 0 0 0 3px;
}

.cloud {
  display: block;
  margin: auto;
  text-align: center;
}

.hint {
  float: left;
  padding-left: 2%;
  font-weight: 200;
  animation: fadeIn 1s;
  cursor: crosshair;
}

.hint:hover {
  color: #a24e78;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#share {
  display: none;
}

#buy {
  display: none;
}

#btn-previous-stage {
  display: none;
}

#btn-result {
  display: none;
}

#fact {
  animation: fadeIn 1s;
  display: block;
  margin: auto;
  text-align: center;
  margin-top: 3rem;
  bottom: 1rem;
  max-width: 70%;
  font-weight: 300;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.grid {
  display: flex;
  padding-left: 5.5rem;
  align-items: center;
  justify-content: right;
  flex-wrap: wrap;
  max-width: 1200px;
}

.card {
  margin: 1rem; 
  color: inherit;
  text-decoration: none;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 260px;
}

.imgPreview {
  width: 100%;
  border-radius: 10px;
}
